---
// Component Imports
import Body from '../layouts/Body.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Content from '../components/Content.astro'
import MainHead from '../components/MainHead.astro'
import Masthead from '../components/Masthead.astro'
import ReadMore from '../components/ReadMore.astro'

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md')
const featuredProject = projects[0]
console.log(featuredProject)

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Espera Awo - Personal Site"
      description="My personal webiste"
    />
  </head>
  <Body>
    <Header />
    <main class="pt-[0px]">
      <Masthead />
      <Content>
        <section>
          <div class="inline-flex items-center w-full">
            <div class="text-2xl">Featured work</div>
            <div class="flex-1"></div>
            <ReadMore href="/work/" label="View more" />
          </div>
          <a href={featuredProject.url}>
            <div
              class="flex flex-col md:flex-row items-center justify-center gap-4 mt-6"
            >
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl object-cover"
                src={featuredProject.frontmatter.img}
                alt={featuredProject.frontmatter.title}
              />
              <div class="flex flex-col items-start">
                <div class="font-semibold">
                  {featuredProject.frontmatter.title}
                </div>
                <div class="tracking-tight mt-4">
                  {featuredProject.frontmatter.description}
                </div>
                <ReadMore
                  href={featuredProject.url ?? '/work/'}
                  label="Read more"
                  className="mt-6"
                />
              </div>
            </div>
          </a>
        </section>
      </Content>
      <Footer />
    </main>
  </Body>
</html>
