---
// Props
export interface Props {
  project: any
}

// Components imports
import ReadMore from "./ReadMore.astro";
import {Image} from '@astrojs/image/components'

// Data Fetching: use props data
const { frontmatter, url } = Astro.props.project
---

<div class="flex flex-col md:flex-row items-center justify-center gap-4 mt-6">
  <Image
    class="border border-slate-300 dark:border-zinc-700 rounded-xl object-cover"
    src={frontmatter.img}
    alt={frontmatter.title}
    width={756 * 3}
    aspectRatio={6/2}
  />
  <div class="flex flex-col items-start flex-1">
    <div class="font-semibold">
      {frontmatter.title}
    </div>
    <div class="tracking-tight mt-4">
      {frontmatter.description}
    </div>
    <ReadMore
      href={url ?? '/work/'}
      label="Read more"
      className="mt-6"
    />
  </div>
</div>
