---
import MainHead from '../components/MainHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Body from './Body.astro'
import { Image } from '@astrojs/image/components'
import Content from '../components/Content.astro'
import ReadMore from '../components/ReadMore.astro'

const { content } = Astro.props
---

<html lang={content.lang || 'en'}>
  <head>
    <MainHead title={content.title} description={content.description} />
    <style>

    </style>
  </head>

  <Body>
    <Header />
    <div class="relative w-full h-64">
      <Image
        src={content.img}
        alt={content.title}
        width={500}
        height={290}
        class="absolute w-full h-full object-cover overflow-hidden"
      />
    </div>
    <main>
      <Content>
        <div class="my-4 leading-relaxed">
          <div class="text-4xl font-semibold">{content.title}</div>
          <div class="text-sm font-semibold">
            Author: <span class="font-normal">{content.author}</span>
          </div>
          <div class="text-sm font-semibold">
            Year: <span class="font-normal">{content.publishDate}</span>
          </div>
        </div>
        <div class="leading-relaxed">
          <slot />
        </div>
      </Content>
    </main>

    <footer class="text-center">
      <ReadMore className="mb-8" href="/projects/" label="Go to projects" />
      <Footer />
    </footer>
  </Body>
</html>
